.App {
  text-align: center;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
}

.section {
  padding: 50px 0;
}

li {
  list-style: none;
}

body {
  background-color: rgb(221, 221, 221);
}

#chart {
  margin-left: 30px;
}

header {
  background-color: rgb(250, 243, 186);
  color: rgb(127, 127, 127);
  border-radius: 50px;
  margin: 5px 20px 10px 20px;
  padding: 10px 0 10px 0;
}

h1 {
  margin-bottom: 0;
}